
.spanClassName {

}

.checkbox_inp span {
    position: relative;
    display: inline-block;
    cursor: pointer;
}
.checkbox_inp  input[type=checkbox]:checked + span  {
    color: rgb( 43, 153, 91 );
}
.checkbox_inp input[type=checkbox] + span::before  {
 
    content: "";
    display: inline-block;    
    height: 16px;
    width: 16px;    
    border: 1px solid black;
    position: absolute;   
    left: -25px;
	top: 0;

}
.checkbox_inp span::after {
    position: absolute;
    content: "";
    display: inline-block;
    left: -23px;
	top: 5px;
    height: 5px;
    width: 12px;
    border-left: 2px solid rgb( 43, 153, 91 );
    border-bottom: 2px solid rgb( 43, 153, 91 );
    transform: rotate(-45deg);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}
.checkbox_inp input[type=checkbox]:checked + span::after {
    opacity: 1;

}
.checkbox_inp input[type=checkbox]:checked + span::before {
    opacity: 1;
    border: 1px solid rgb( 43, 153, 91 ) !important;
}


.checkbox_inp input[type="checkbox"] {
    position: absolute;
	z-index: -1;
	opacity: 0;
	display: block;
	width: 0;
	height: 0;
}
